{% extends 'base.html' %}
{% block title %} Flask Crud App {% endblock %}
{% block content %}
<div class="jumbotron p-3" >
    <div class="well text-center">
        <center>
        <h1 width= '80px' style="background-color: greenyellow;">Letsupgrade data management</h1>
    </center>
    </div>
</div>
<nav class="navbar navbar-expand-lg navbar-light" id="mainNav">
    <div class="container px-4 px-lg-5">
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ms-auto py-4 py-lg-0">
                <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="/home">Home</a></li>
                <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="/add-tutor">Add Tutor</a></li>
                <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="/edit-tutor">Edit a Tutor</a></li>
                <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="/del-tutor">Delete a Tutor</a></li>
                <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="/view-tutor">All Tutors</a></li>
            </ul>
        </div>
    </div>
</nav>
{% endblock %}