{% extends 'base.html' %}
{% include 'header.html' %}
{%block title %}View Tutors{%endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col md-12">
            <div class="jumbotron p-3">
<table class="table table-hover table-dark" cellspacing="17">
    <caption style="color: red;">Tutors Details</caption>
 
    <tr style="color: blue;">
        <th>ID</th>
        <th>Name</th>
        <th>Batches</th>
        <th>Experience</th>
        <th>Company</th>

    </tr>


   {% for tutor in tutors %}
    <tr>
        <td>{{tutor.id}}</td>
        <td>{{tutor.name}}</td>
        <td>{{tutor.batches}}</td>
        <td>{{tutor.experience}}</td>
        <td>{{tutor.company}}</td>
    </tr>
    {% endfor %}
</table>
            </div>
        </div>
    </div>
</div>

{% endblock %}